@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900);@charset "UTF-8";
* {
  font-family: "Lato", "sans-serif";
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  vertical-align: top;
}

td,
th {
  padding: 0;
  text-align: left;
}

.container-top-header {
  padding: 1.5625rem 0 0;
}

.container-logo {
  display: grid;
  grid-template-columns: 3.125rem 3fr;
  margin-bottom: 1.5625rem;
  margin-left: 0.625rem;
}

.logo__img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.logo__title {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  display: grid;
  -ms-flex-line-pack: end;
      align-content: end;
  font-family: "Lato", "sans-serif";
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 0.625rem;
}

.logo__text {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  font-family: "Lato", "sans-serif";
  font-size: 0.875rem;
  padding-left: 0.625rem;
}

.menu {
  list-style-type: none;
}

.menu__item:nth-of-type(even) {
  background: #f0f0f0;
}

.menu__link, .menu-mobile {
  text-decoration: none;
  font-family: "Lato", "sans-serif";
  text-transform: uppercase;
  display: block;
  padding: 0.625rem 0.9375rem;
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  position: relative;
}

.menu-mobile {
  font-weight: 600;
  background: #1bbc9b;
  color: #fff;
}

.menu-mobile:before {
  content: '\25BC';
  position: absolute;
  left: 4.0625rem;
}

.menu-mobile__after:before {
  content: '\25B2';
  position: absolute;
  left: 4.0625rem;
}

.menu {
  display: none;
}

.menu.open {
  display: block;
}

.container-brand {
  max-width: 1020px;
  margin: 0 auto;
  padding: 4.0625rem 0.625rem 5.3125rem;
  background: url("../img/buildBrandBackground.jpg") no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.brand__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
}

.regularTitle {
  font-weight: 400;
}

.brand__text {
  padding-top: 1.5625rem;
  font-weight: 300;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
}

.brand__btn {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 0.625rem 1.3125rem;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  background: #1bbc9b;
  margin-top: 3.125rem;
}

.brand__checkMark {
  margin-top: 2.6875rem;
}

.container-portfolio {
  max-width: 58.75rem;
  margin: 0 auto;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.625rem;
}

.portfolio__title {
  margin-top: 2.8125rem;
  font-size: 1.75rem;
  color: #444444;
  text-align: center;
}

.portfolio__text {
  font-size: 1rem;
  color: #444444;
  margin-top: 0.625rem;
  text-align: center;
}

.portfolio-button-container {
  margin-top: 1.875rem;
}

.portfolio-button-innerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.625rem;
}

.portfolio-btn {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 0.625rem 1.3125rem;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  background: #1bbc9b;
  padding: 0.625rem 0.4375rem;
}

.portfolio__img {
  width: 9.375rem;
  height: 9.375rem;
}

.portfolio-icon-container {
  margin-top: 2.8125rem;
  margin-bottom: 3.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.625rem;
  justify-items: center;
}

.portfolio__img-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.portfolio__hower_container {
  display: none;
  width: 11.25rem;
  height: 11.25rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  grid-template-rows: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(80, 179, 146, 0.9);
}

.portfolio__hower_lenseBox {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 0.8rem;
  position: absolute;
  top: 2.1875rem;
  left: 3.875rem;
}

.fa-search {
  color: #fff;
  font-size: 1.3125rem;
}

.portfolio__hover_title {
  grid-row: 2 / 3;
  -ms-flex-item-align: end;
      align-self: end;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
}

.portfolio__hover_subTitle {
  grid-row: 3 / 4;
  color: #fff;
  padding-top: 0.625rem;
  text-align: center;
  font-size: 0.875rem;
}

.container-about {
  max-width: 1020px;
  margin: 0 auto;
  background: #16a086;
}

.about__title {
  font-size: 1.75rem;
  color: #fff;
  text-align: center;
  padding-top: 2.8125rem;
}

.about__subtitle {
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  padding-top: 0.9375rem;
}

.about__container-gallery {
  padding-top: 2.9375rem;
  padding-bottom: 4.625rem;
  display: grid;
  grid-template-columns: 13.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__figure {
  background: #fff;
  position: relative;
}

.about__figure:not(:last-of-type) {
  margin-bottom: 2rem;
}

.about__figcaption_name {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.125rem;
  color: #444;
}

.about__figcaption_position {
  font-style: italic;
  padding-top: 0.3125rem;
  text-align: center;
  font-size: 0.875rem;
  color: #444;
}

.about__figcaption_describe {
  padding: 1.25rem 1rem 1rem;
  font-size: 0.875rem;
  color: #444;
}

.about__hover-container {
  position: absolute;
  top: 4.875rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 11.25rem;
  height: 3.125rem;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.container-contact {
  max-width: 1020px;
  margin: 0 auto;
  background: #ecf0f1;
  padding: 0 0.625rem 3.75rem;
}

.contact__title {
  font-family: "Lato", "sans-serif";
  font-size: 1.75rem;
  color: #444;
  text-align: center;
  padding-top: 2.8125rem;
}

.contact__text {
  font-family: "Lato", "sans-serif";
  font-size: 0.875rem;
  color: #444;
  text-align: center;
  padding-top: 0.9375rem;
}

.container-contact__form_information {
  display: grid;
  grid-template-columns: 1fr;
}

.container-contact-form {
  margin: 3.125rem auto 0;
  display: grid;
  grid-template-columns: minmax(auto, 28.75rem);
  grid-gap: 1.25rem;
}

.contact-form__input_text,
.contact-form__input_textArea {
  background: #fff;
  padding: 0.8rem;
  border: 2px solid #bec3c7;
}

.contact-form__input_text::-webkit-input-placeholder,
.contact-form__input_textArea::-webkit-input-placeholder {
  font-style: italic;
  font-size: 0.875rem;
  color: #bec3c7;
}

.contact-form__input_text:-ms-input-placeholder,
.contact-form__input_textArea:-ms-input-placeholder {
  font-style: italic;
  font-size: 0.875rem;
  color: #bec3c7;
}

.contact-form__input_text::-ms-input-placeholder,
.contact-form__input_textArea::-ms-input-placeholder {
  font-style: italic;
  font-size: 0.875rem;
  color: #bec3c7;
}

.contact-form__input_text::placeholder,
.contact-form__input_textArea::placeholder {
  font-style: italic;
  font-size: 0.875rem;
  color: #bec3c7;
}

.contact-form__input_textArea {
  resize: none;
}

.contact-form__input_text:focus,
.contact-form__input_textArea:focus {
  outline: none;
  border: 2px solid #1bbc9b;
  color: #333;
}

.contact__btn_submit {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 0.625rem 1.3125rem;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  background: #1bbc9b;
  font-size: 0.8125rem;
  font-weight: 400;
  padding: 0.75rem 1.875rem;
  justify-self: end;
}

.container-contact-information {
  max-width: 30rem;
  margin: 3.125rem auto 0;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.contact-information__title {
  font-size: 0.875rem;
  color: #444;
  text-transform: uppercase;
  padding-top: 2rem;
}

.contact-information__address {
  font-size: 0.875rem;
  color: #444;
  font-style: normal;
  padding-left: 1.125rem;
  padding-top: 1.25rem;
  line-height: 1.5rem;
}

.contact-information__phone,
.contact-information__fax,
.contact-information__email {
  padding-left: 1.125rem;
  font-size: 0.875rem;
  color: #444;
  padding-top: 0.9375rem;
}

.fa-map-marker-alt,
.fa-phone-square,
.fa-print,
.fa-envelope {
  position: absolute;
  left: 0;
  top: 4.5625rem;
  font-size: 0.9rem;
}

.fa-phone-square {
  top: 157px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.fa-print {
  top: 190px;
}

.fa-envelope {
  top: 222px;
}

.footer {
  max-width: 1020px;
  margin: 0 auto;
  background: #2d3e50;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.5625rem 2.5rem;
}

.footer__text {
  color: #fff;
  font-size: 0.875rem;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer__link_wrapper {
  display: none;
  justify-self: right;
  width: 45px;
  height: 45px;
  background: #1bbc9b;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.fa-chevron-up {
  color: #fff;
  font-size: 1.2rem;
}

@media only screen and (min-width: 420px) {
  .portfolio__img {
    width: 11.25rem;
    height: 11.25rem;
  }
}

@media only screen and (min-width: 576px) {
  .container-top-header {
    display: grid;
    grid-template-columns: 14.375rem 2fr;
    grid-template-rows: 1fr;
    padding: 1.5625rem 0.625rem;
  }
  .container-logo {
    grid-column: 1/2;
    margin-bottom: 0;
    margin-left: 0;
  }
  .container-menu {
    grid-column: 2/4;
  }
  .menu-mobile {
    display: none;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(4, -webkit-max-content);
    grid-template-columns: repeat(4, max-content);
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .menu__item:nth-of-type(even) {
    background: none;
  }
  .menu__link {
    display: inline-block;
  }
  .brand__title {
    font-size: 3.4375rem;
  }
  .brand__text {
    font-size: 1.125rem;
  }
  .portfolio-button-innerContainer {
    max-width: 29.375rem;
    margin: 0 auto;
    grid-template-columns: repeat(4, -webkit-max-content);
    grid-template-columns: repeat(4, max-content);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-contact-form {
    grid-template-columns: repeat(2, 13.75rem);
  }
  .contact-form__input_textArea {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .contact__btn_submit {
    grid-column: 2 / 3;
    grid-row: 3;
  }
  .footer {
    max-width: 1020px;
    margin: 0 auto;
    background: #2d3e50;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5625rem 2.5rem;
  }
  .footer__text {
    color: #fff;
    font-size: 0.875rem;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .footer__link_wrapper {
    display: grid;
    justify-self: right;
    width: 45px;
    height: 45px;
    background: #1bbc9b;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .fa-chevron-up {
    color: #fff;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio-icon-container {
    max-width: 58.75rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .about__container-gallery {
    grid-template-columns: repeat(3, 13.75rem);
    grid-column-gap: 2.5rem;
  }
  .about__figure:not(:last-of-type) {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .container-top-header {
    max-width: 1020px;
    padding: 1.5625rem 1.875rem;
    margin: 0 auto;
  }
  .menu__link:hover {
    background: #1bbc9b;
  }
  .brand__btn:hover {
    background: #16a086;
  }
  @-webkit-keyframes showPortfolioHover {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes showPortfolioHover {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .portfolio-btn:hover {
    background: #16a086;
  }
  .container-portfolio {
    padding: 0 0;
  }
  .portfolio-icon-container {
    grid-column-gap: 4.0625rem;
    grid-row-gap: 1.875rem;
  }
  .portfolio__img-wrapper:hover .portfolio__hower_container {
    display: grid;
    -webkit-animation-name: showPortfolioHover;
            animation-name: showPortfolioHover;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
  @-webkit-keyframes showHover {
    0% {
      top: 0;
      opacity: 0;
    }
    100% {
      top: 4.875rem;
      opacity: 1;
    }
  }
  @keyframes showHover {
    0% {
      top: 0;
      opacity: 0;
    }
    100% {
      top: 4.875rem;
      opacity: 1;
    }
  }
  .about__container-gallery {
    grid-column-gap: 3.75rem;
  }
  .about__hover-container {
    background: rgba(52, 149, 121, 0.8);
  }
  .about__figure:hover .about__hover-container {
    -webkit-animation-name: showHover;
            animation-name: showHover;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    display: grid;
  }
  .container-contact__form_information {
    grid-template-columns: 1fr 1fr;
    padding-top: 3.125rem;
  }
  .container-contact-form {
    margin: 0;
  }
  .container-contact-information {
    margin: 0;
    -ms-flex-item-align: start;
        align-self: start;
  }
  .contact-information__title {
    padding-top: 0;
  }
  .fa-map-marker-alt {
    top: 2.5rem;
  }
  .fa-phone-square {
    top: 125px;
  }
  .fa-print {
    top: 157px;
  }
  .fa-envelope {
    top: 190px;
  }
  .contact__btn_submit:hover {
    background: #16a086;
  }
  .footer__link_wrapper:hover {
    background: #16a086;
  }
}
