@import url('https://fonts.googleapis.com/css?family=Philosopher');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/*===reset===*/

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/*==============*/

body {
    background: #f2f2f2 url("../img/background.jpg") repeat-x;
}

.main-wrapper {
    width: 970px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 10px;
}

/*====header=========*/

.header-top-wrapper {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

/*===header logo=========*/

.header-top__logo-wrapper {
    position: relative;
    display: flex;
}

.header-top_title {
    text-indent: -99999px;
    /*w-169 h-61 x-0 y-0*/
    background: url("../img/sprite.png") no-repeat 0 0;
    width: 169px;
    height: 61px;
    margin-left: 1.375rem;
}

.header-top__logo {
    position: absolute;
    top: -1px;
    left: 57px;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    opacity: 0.98;
}

/*======top nav=========*/

.top-nav-list {
    display: flex;
    margin-top: 1rem;
    margin-left: 6rem;
}

.top-nav-item {
    margin-right: 3.75rem;
}

.top-nav-item:last-of-type {
    margin-right: 0;
}

.top-nav-link {
    font-size: 1.0625rem;
    text-transform: uppercase;
    color: #cbcbcb;
    position: relative;
}

<<<<<<< HEAD
.top-nav-link:hover{
    color: #797979;
}

=======
>>>>>>> e3892a4a928ea92c37c72fbb74d28b5e2e727ca9
.top-nav-link:before {
    content: '';
    position: absolute;
    left: -2.625rem;
    /*w-37 h-38 x-0 y-65*/
    background: url("../img/sprite.png") no-repeat 0 -65px;
    width: 37px;
    height: 38px;
}

.top-nav-link__about:before {
    /*w-37 h-36 x-0 y-107*/
    background-position: 0 -107px;
    height: 36px;
}

.top-nav-link__contact:before {
    /*w-35 h-31 x-0 y-147*/
    background-position: 0 -147px;
    width: 35px;
    height: 31px;
    top: 4px;
}

.top-nav-link:hover:before {
    content: '';
    position: absolute;
    left: -2.625rem;
    /*w-37 h-38 x-65 y-173*/
    background: url("../img/sprite.png") no-repeat -65px -173px;
    width: 37px;
    height: 38px;
}

.top-nav-link__about:hover:before {
    /*w-37 h-36 x-65 y-215*/
    background-position: -65px -214.5px;
    height: 36px;
}

.top-nav-link__contact:hover:before {
    /*w-35 h-31 x-65 y-255*/
    background-position: -65px -255px;
    width: 35px;
    height: 31px;
    top: 4px;
}

/*===top - search=====*/

.header-top__search-wrapper {
    position: relative;
}

.top-search-input {
    width: 13.75rem;
    height: 1.5625rem;
    margin-left: 7rem;
    margin-top: 0.65rem;
    background: #696969;
    color: #fff;
    border: none;
    padding: 0 5px;
    position: relative;
}

.top-search-input:focus {
    outline: none;
    background: #c3c3c3;
    color: #696969;
}

.top-search-input::placeholder {
    color: #c3c3c3;
}

.top-search-form:before {
    content: '';
    position: absolute;
    /*w-43 h-43 x-0 y-182*/
    background: url("../img/sprite.png") no-repeat 0 -182px;
    width: 43px;
    height: 43px;
    left: 65px;
    top: 9px;
}

/*====header-top-welcome-wrapper====*/
<<<<<<< HEAD

.header-top-welcome-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 40px;
}

=======

.header-top-welcome-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 40px;
}

>>>>>>> e3892a4a928ea92c37c72fbb74d28b5e2e727ca9
.header-top-welcome {
    font-size: 2.25rem;
    color: #a9a9a9;
    text-shadow: -1px 0 #fafafa, 0 -1px #fafafa,
    1px 0 #fafafa, 0 1px #fafafa;
}

/*=======context========*/

.context-wrapper {
    display: flex;
    margin-bottom: 10px;
}

/*======main==========*/

.articles-wrapper {
    position: relative;
    width: 630px;
    max-width: 66.315%;
    margin-right: 20px;
}

.article-img {
    width: 200px;
    height: 200px;
    margin-left: 3.8%;
    margin-top: 2.125rem;
}

.text-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 1.625rem;
    margin-top: 2.375rem;
    margin-right: 2.5625rem;
    color: #2d2d2d;
}

.context-title {
    font-size: 1.6875rem;
    font-weight: 600;
    margin-bottom: 11px;
}

.context-date {
    width: 110px;
    height: 23px;
    background: #9c2323;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.context-date__text {
    font-size: 0.875rem;
    color: #fff;
    text-transform: lowercase;
}

.context-p {
    color: #7e7e7e;
    font-size: 0.875rem;
    font-style: italic;
}

.context-link {
    display: inline-block;
    padding-top: 15px;
    color: #2d2d2d;
    font-size: 0.875rem;
    font-weight: 600;
}

<<<<<<< HEAD
.context-link:hover{
    color: #747474;
}

=======
>>>>>>> e3892a4a928ea92c37c72fbb74d28b5e2e727ca9
.articles-wrapper__item {
    position: relative;
    margin-bottom: 28px;
    display: flex;
    width: 630px;
    height: 268px;
    background: #ededed;
    border: 1px solid #fff;
}

.articles-wrapper__item:last-of-type {
    margin-bottom: 0;
}

/*====blog-count in the cloud=====*/

.articles-wrapper__item:before {
    content: '';
    position: absolute;
    /*w-43 h-38 x-0 y-229*/
    background: url("../img/sprite.png") no-repeat 0 -229px;
    width: 43px;
    height: 38px;
    top: 8px;
    left: 572px;
    /*color: #1a1a1a;
    font-size: 1.375rem;*/

}

.articles-wrapper__item:after {
    content: '3';
    color: #1a1a1a;
    font-size: 1.375rem;
    font-weight: 600;
    position: absolute;
    top: 13px;
    left: 587px;
}

.articles-wrapper__item--two:after {
    content: '2';
}

.articles-wrapper__item--three:after {
    content: '1';
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 9px;
}

.btn-moreArticles {
    width: 88px;
    height: 29px;
    background: #9c2323;
    font-style: italic;
    font-size: 0.75rem;
    color: #fff;
    border: none;
}

.btn-moreArticles:focus {
    outline: none;
}

.btn-moreArticles:hover {
    cursor: pointer;
<<<<<<< HEAD
    background: #f13030;
=======
>>>>>>> e3892a4a928ea92c37c72fbb74d28b5e2e727ca9
}

/*========aside========*/

.aside-wrapper {
    width: 300px;
    max-width: 31.578%;
    display: flex;
    flex-direction: column;
}

.aside-wrapper-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ededed;
    border: 1px solid #fff;
    width: 296px;
    height: 231px;
    margin-bottom: 31px;
}

.aside-wrapper-box:last-of-type {
    margin-bottom: 0;
}

.aside-title-wrap {
    display: flex;
    align-items: center;
    width: 280px;
    height: 23px;
    background: #9c2323;
    margin-top: 7px;
    margin-bottom: 11px;
}

.aside-title {
    font-size: 0.8125rem;
    font-weight: 600;
    color: #fff;
    padding: 3px 16px 0;
}

.aside-img-wrap {
    width: 271px;
    height: 151px;
    background: url("../img/trees.jpg") no-repeat top center;
    background-size: cover;
    margin-bottom: 15px;
}

.aside-footer-wrap {
<<<<<<< HEAD
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.aside-seeAlbum a {
    position: relative;
    padding-left: 40px;
    color: #737373;
    font-size: 0.8125rem;
    font-weight: 600;
}

.aside-seeAlbum:hover a {
    color: #afafaf;
=======
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.aside-seeAlbum a {
    position: relative;
    padding-left: 40px;
    color: #737373;
    font-size: 0.8125rem;
    font-weight: 600;
>>>>>>> e3892a4a928ea92c37c72fbb74d28b5e2e727ca9
}

.aside-seeAlbum:before {
    content: '';
    position: absolute;
    /*w-19 h-19 x-3 y-271*/
    background: url("../img/sprite.png") no-repeat -2.5px -270.5px;
    width: 20px;
    height: 20px;
    top: -1px;
    left: 9px;
}

.aside-left {
    display: inline-block;
    position: relative;
}

.aside-left:before {
    content: '';
    position: absolute;
    /*w-28 h-19 x-0 y-294*/
    background: url("../img/sprite.png") no-repeat 0 -294px;
    width: 28px;
    height: 20px;
    left: -76px;
    top: -15px;
}

<<<<<<< HEAD
.aside-left:hover:before{
    left: -78px;
}

=======
>>>>>>> e3892a4a928ea92c37c72fbb74d28b5e2e727ca9
.aside-right {
    display: inline-block;
    position: relative;
}

.aside-right:before {
    content: '';
    position: absolute;
    /* w-28 h-19 x-1 y-317*/
    background: url("../img/sprite.png") no-repeat -1px -317px;
    width: 28px;
    height: 20px;
    left: -44px;
    top: -16px;
}

<<<<<<< HEAD
.aside-right:hover:before{
    left: -42px;
}

.aside-entries {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aside-entries:before {
    content: '';
    position: absolute;
    /* w-38 h-38 x-0 y-357*/
    background: url("../img/sprite.png") no-repeat 0 -357px;
    width: 38px;
    height: 38px;
    left: 247px;
    top: 143px;
}

.aside-entries__link {
    position: relative;
    font-size: 0.8125rem;
    font-weight: 600;
    color: #000;
    padding-left: 35px;
    line-height: 1.5rem;
}

.aside-entries__link:hover{
    color: #737373;
}

.aside-entries__link:before {
    content: '';
    position: absolute;
    /* w-13 h-13 x-3 y-340*/
    background: url("../img/sprite.png") no-repeat -3px -340px;
    width: 14px;
    height: 14px;
    left: 9px;
    top: 5px;
}

=======
.aside-entries {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aside-entries:before {
    content: '';
    position: absolute;
    /* w-38 h-38 x-0 y-357*/
    background: url("../img/sprite.png") no-repeat 0 -357px;
    width: 38px;
    height: 38px;
    left: 247px;
    top: 143px;
}

.aside-entries__link {
    position: relative;
    font-size: 0.8125rem;
    font-weight: 600;
    color: #000;
    padding-left: 35px;
    line-height: 1.5rem;
}

.aside-entries__link:before {
    content: '';
    position: absolute;
    /* w-13 h-13 x-3 y-340*/
    background: url("../img/sprite.png") no-repeat -3px -340px;
    width: 14px;
    height: 14px;
    left: 9px;
    top: 5px;
}

>>>>>>> e3892a4a928ea92c37c72fbb74d28b5e2e727ca9
.button-twitter-wrap {
    position: relative;
    right: -92px;
    margin-top: 30px;
    /*w-203 h-52 x-0 y-398*/
    background: url("../img/sprite.png") no-repeat 0 -398px;
    width: 203px;
    height: 52px;
}

<<<<<<< HEAD


=======
>>>>>>> e3892a4a928ea92c37c72fbb74d28b5e2e727ca9
.button-twitter__link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 52px;
    color: #fff;

    padding-top: 5px;
    font-size: 2.16rem;
    font-weight: 600;
}

<<<<<<< HEAD
.button-twitter__link:hover{
    color: #b7b7b7;
}

=======
>>>>>>> e3892a4a928ea92c37c72fbb74d28b5e2e727ca9
.button-twitter__link:before{
    content: '';
    position: absolute;
    /*w-86 h-102 x-44 y-65*/
    background: url("../img/sprite.png") no-repeat -44px -65px;
    width: 86px;
    height: 102px;
    left: -142px;
    top: -24px;
<<<<<<< HEAD
}



/*======footer=========*/

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #777;
    width: 100%;
    margin-top: 30px;
    height: 50px;
=======
>>>>>>> e3892a4a928ea92c37c72fbb74d28b5e2e727ca9
}

.footer-text {
    color: #e0e0e0;
    font-size: 1rem;
    text-align: center;
}

/*========flex=========*/

@media screen and (max-width: 1100px) {
    .context-wrapper,
    .header-top-wrapper,
    .top-nav-list {
        flex-direction: column;
    }

    .top-nav-item {
        margin-bottom: 25px;
    }

    .top-search-input {
        margin-left: 50px;
    }

    .header-top__search-wrapper {
        margin-bottom: 20px;
    }

    .top-search-form:before {
        left: 0;
    }

    .header-top-welcome-wrapper {
        justify-content: flex-start;
    }

<<<<<<< HEAD
=======
/*======footer=========*/

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #777;
    width: 100%;
    margin-top: 30px;
    height: 50px;
}

.footer-text {
    color: #e0e0e0;
    font-size: 1rem;
    text-align: center;
}

/*========flex=========*/

@media screen and (max-width: 1100px) {
    .context-wrapper,
    .header-top-wrapper,
    .top-nav-list {
        flex-direction: column;
    }

    .top-nav-item {
        margin-bottom: 25px;
    }

    .top-search-input {
        margin-left: 50px;
    }

    .header-top__search-wrapper {
        margin-bottom: 20px;
    }

    .top-search-form:before {
        left: 0;
    }

    .header-top-welcome-wrapper {
        justify-content: flex-start;
    }

>>>>>>> e3892a4a928ea92c37c72fbb74d28b5e2e727ca9
    .articles-wrapper {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .context-wrapper__box {
        width: auto;
        max-width: 100%;
    }

    .button-wrapper {
        justify-content: flex-start;
    }
}