.team_slider {
    padding: 0 1rem;
}

.team_slider__slide_context {
    padding: 0; //override in desktop
}

.team_slider__slide_img {
    justify-content: left;
}

.team_slider__slide_figure {
    @include display(grid);
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
}

.contactUs__btn:hover {
    background: #fff;
    color: #333;

    &:active {
        background: #00ff00;
    }
}
