//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Lato:100,400,400i,700|Raleway:700';

$latoFont: 'Lato', sans-serif;
$ralewayFont: 'Raleway', sans-serif;

$baseFontSize: 16px;

//Sizes
$maxWidth: 1170px;
$maxWidthFooter: 665px;


// Paths

$img: "../img/";
$usersPath: "../userfiles/";
// $fontPath: "../fonts/";


// Colors
$white: #ffffff;
$black: #222222;
$blue: #005494;
$grey: #676767;
$whiteFont: #c5c4c4;
