.main-wrapper {
  flex-direction: row;
}

.context-wrapper {
  flex: 1 0 45%;
  display: flex;
  justify-content: center;
}

.foto-wrapper {
  flex: 1 0 45%;
  display: flex;
  justify-content: center;
  position: relative;
  //==============
  &:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 560px;
    background: $yellow;
    top: -94px;
    right: 0;
  }

}

.foto-wrapper-two {
  flex: 0 0 rem(388px);
}

.svg-icon_next {
  right: 0;
  top: -76px;
//  =============
  &:hover{
    transform: scale(1.2) rotateZ(90deg);
  }
}

.svg-icon_prev:hover{
    transform: scale(1.2) rotateZ(270deg);
}

//=========social icon hover========

.social-icon_link_facebook:hover {
  border: 2px solid #3B5998;
  //===========
  &:hover .social-svg-icon_facebook {
    fill: #3B5998;
  }
}

.social-icon_link_twitter:hover {
  border: 2px solid #1DA1F2;
  //===========
  &:hover .social-svg-icon_twitter {
    fill: #1DA1F2;
  }
}

.social-icon_link_g:hover {
  border: 2px solid #DC4E41;
  //===========
  &:hover .social-svg-icon_g {
    fill: #DC4E41;
  }
}

.social-icon_link_li:hover {
  border: 2px solid #0077B5;
  //===========
  &:hover .social-svg-icon_li {
    fill: #0077B5;
  }
}

//==========button-profile=====

.button-profile:hover{
border: 2px solid $yellow;
  background: $yellow;
}

//========buttom-poin====

.buttom-poin:hover{
  background: $white;
  border: 2px solid $yellow;
  transform: scale(1.2);
}
