.footer-bottom {
  background: url(#{$img}footer.jpg) no-repeat;
  background-size: cover;
}

.footer-inner-container {
  padding: rem(110px) 0 rem(120px);
  max-width: $maxWidthFooter;
  margin: 0 auto;
}

.footer-inner__title{
  font-family: $ralewayFont;
  font-weight: 700;
  font-size: rem(35px);
  color: $whiteFont;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: rem(75px);
  position: relative;
//  ===============
  &:before{
    content: '';
    position: absolute;
    width: rem(86px);
    height: rem(2px);
    background: $whiteFont;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.footer-inner__social_wrapper{
  padding-top: rem(60px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  max-width: rem(260px);
  margin: 0 auto;
}

.svg-icon{
  align-self: end;
}

.svg-icon_twitter{
  width: rem(25px);
  height: rem(20px);
}

.svg-icon_facebook{
  width: rem(14px);
  height: rem(25px);
}

.svg-icon_linkin{
  width: rem(24px);
  height: rem(25px);
}

.svg-icon_vimeo{
  width: rem(25px);
  height: rem(22px);
}

.svg-icon_icoBe{
  width: rem(25px);
  height: rem(17px);
}

//=======footer-inner__form==

.footer-inner__form{
  margin-top: rem(75px);
  padding: 0 rem(16px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 50px);
  grid-row-gap: rem(20px);
  justify-content: center;
}

.footer-inner__form_input{
  align-self: start;
  padding: rem(10px) rem(10px) rem(10px) rem(30px);
  width: 100%;
  max-height: rem(50px);
  border-bottom: 2px solid $whiteFont;
  color: $whiteFont;
  font-family: $latoFont;
  font-size: rem(18px);
  &::placeholder{
    color: #676767;
    font-family: $latoFont;
    font-style: italic;
    font-size: rem(18px);
  }
  &:focus{
    outline: none;
    background: rgba(0,0,0,0.5);
  }
  &:last-of-type{
    margin-bottom: 0;
  }
}

.footer-inner__form_button{
  display: inline-block;
  padding: rem(20px) rem(60px);
  max-width: rem(185px);
  justify-self: center;
  text-decoration: none;
  color: #ffffff;
  font-family: $latoFont;
  font-size: rem(24px);
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

