.h-container {
    max-width: 100%;
    background: url(#{$imgPath}header_Img.jpg)no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(262px);
    padding-bottom: rem(165px);
}

.h-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-nav__title {
    @include captionBigFont;
    font-size: rem(36px);
}

[class^="h-nav__link"] {
    @include textFont;
    font-weight: $boldFontWeight;
    text-transform: uppercase;
}

.h-nav__link2 {
    margin-left: rem(10px);
    position: relative;
    // ============================
    &::before {
        content: '/';
        position: absolute;
        left: 0;
        top: 0;
        color: $textColor;
        left: rem(-10px);
        top: rem(-5px);
        font-size: rem(18px);
    }
}