.header-wrapper{
  margin-top: rem(110px);
  margin-bottom: rem(187px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-title{
  font-size: rem(60px);
  font-weight: 500;
  color: $yellow;
  text-transform: uppercase;
}

.header-subTitle{
  font-size: rem(18px);
  color: $headerSubTitleColor;
  text-transform: uppercase;
}

.icon-wrapper{
  position: absolute;
  top: rem(125px);
  //  ==================
  &:after{
    content: '';
    position: absolute;
    width: rem(150px);
    height: rem(2px);
    background: $yellow;
    top: rem(8px);
    left: rem(-160px);
  }
  //  ===================
  &:before{
    content: '';
    position: absolute;
    width: rem(150px);
    height: rem(2px);
    background: $yellow;
    top: rem(8px);
    left: rem(25px);
  }
}