.container-portfolio {
  background: $bgColor;
  padding-bottom: rem(90px);
}

.container-portfolio__inner {
  max-width: $maxWidth;
  margin: 0 auto;
}

.container-portfolio__context {
  max-width: rem(465px);
  margin: 0 auto;
}

.portfolio__title {
  padding-top: rem(83px);
  font-family: $titleFont;
  font-size: rem(20px);
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #333b46;
  letter-spacing: 0.2rem;
}

.portfolio__text {
  padding-top: rem(30px);
  font-size: rem(14px);
  text-align: center;
}

//===========gallery-box-NAV=====================
.container-portfolio__galleryBlock {
  margin: rem(70px) auto 0;
  width: 100%;
}

.galleryBlock__nav {
  display: flex;
  justify-content: center;
}

.galleryBlock__btn {
  color: #464646;
  padding: 0.7rem 0.5rem;
  position: relative;

  &:focus {
    outline: none;

    &::after {
      position: absolute;
      content: '';
      width: rem(30px);
      height: 2px;
      background: $green;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }
}

//===========Gallery=====================

.portfolio__gallery {
 padding-top: rem(60px);
  width: rem(270px);
  margin: 0 auto;
}

.gutter-sizer {
  width: rem(10px);
}

.portfolio__img {
  padding: 0 0 rem(5px);
  vertical-align: top;
}
