.services-container {
  background: #ffffff;
  max-width: $maxWidth;
  margin: 0 auto;

  &__title {
    margin-top: rem(110px);
    margin-bottom: rem(75px);
    font-family: $ralewayFont;
    font-size: rem(35px);
    color: $black;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      display: inline-block;
      height: 2px;
      width: rem(86px);
      background: $black;
      top: rem(110px);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__context-container {
    margin-top: rem(80px);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: rem(15px);
  }
}

.services-context-container {
  margin-top: rem(80px);
  display: grid;
  grid-template-columns: minmax(auto, rem(360px));
  grid-template-rows: minmax(rem(149px), auto) minmax(rem(95px), auto) minmax(rem(50px), auto);
  justify-content: center;
}

.services-context__title {
  align-self: center;
  font-family: $latoFont;
  color: $black;
  font-size: rem(24px);
  text-align: center;
}

.services-context__text {
  padding: 0 rem(16px);
  font-family: $latoFont;
  color: $black;
  font-size: $baseFontSize;
  text-align: center;
}

.svg-icon {
  fill: $blue;
  justify-self: center;

  //  =====tablet
  &_tablet {
    width: rem(75px);
    height: rem(132px);
  }

  &_gadgets {
    width: rem(192px);
    height: rem(149px);
  }

  &_ok2 {
    width: rem(116px);
    height: rem(116px);
  }
}
