.footer-inner__form {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: rem(60px);
}

.footer-inner__form_input_message{
  grid-column: 1 / 3;
}

.footer-inner__form_button{
  grid-column: 1 / 3;
}
