.icon-wrapper {

  &:after {
    width: rem(210px);
    left: rem(-219px);
  }
  //  ===================
  &:before {
    width: rem(210px);
    left: rem(24px);
  }
}

.foto-border{
  display: inline-block;
  position: absolute;
  width: rem(100px);
  height: rem(100px);
  border: 1px solid $yellow;
  //  ==================
  &_topleft{
    border-right: transparent;
    border-bottom: transparent;
    left:rem(-15px);
    top:rem(-15px);
  }
  //  ====================
  &_topright{
    border-left: transparent;
    border-bottom: transparent;
    left:rem(303px);
    top:rem(-15px);
  }
  //  ====================
  &_bottomright{
    border-left: transparent;
    border-top: transparent;
    left:rem(303px);
    top:rem(303px);
  }
  //  ====================
  &_bottomleft{
    border-right: transparent;
    border-top: transparent;
    left:rem(-15px);
    top:rem(303px);
  }
}

